<h2><%= t "admin.announcements.index.not_posted" %></h2>

<ul>
</ul>

<h2><%= t "admin.announcements.index.active" %></h2>

<ul>
</ul>

<h2><%= t "admin.announcements.index.expired" %></h2>

<ul>
</ul>
