<% content_for :content_class, "blog-archives-content" %>

<% content_for :content do %>
  <div class="blog-archives-page">
    <h1><%= yield :title %></h1>

    <%= yield %>
  </div>
<% end %>

<% content_for :admin_content do %>
  <% if preview? %>
    <p><a href="/admin/main">admin</a></p>
  <% end %>
<% end %>

<%= render :template => "layouts/cartoonist" %>
