<p>
  <a href="/admin/reload"><%= t "admin.general.actions.reload" %></a>
</p>

<p>
  <a href="/admin/backup.tgz"><%= t "admin.general.actions.backup_tgz" %></a>
</p>

<p>
  <a href="/admin/backup.zip"><%= t "admin.general.actions.backup_zip" %></a>
</p>
