form.inline { display: inline-block; }

table.cache {
  tbody {
    tr:nth-of-type(odd) {
      background-color: #ddd;
      .cached { background-color: #0c0; }
      .not-cached { background-color: #c00; }
    }

    tr:nth-of-type(even) {
      .cached { background-color: #5f5; }
      .not-cached { background-color: #f55; }
    }
  }
}
