<% content_for :content_class, "page-content" %>

<% content_for :content do %>
  <div class="page">
    <h1><%= content_for?(:page_title) ? yield(:page_title) : yield(:title) %></h1>

    <%= yield %>
  </div>
<% end %>

<% content_for :admin_content do %>
  <% if preview? %>
    <p><a href="/admin/main">admin</a></p>
  <% end %>
<% end %>

<%= render :template => "layouts/application" %>
